#
# genimage.cfg - build a single bootable disk image for VMware/VirtualBox
#
# Run in the Buildroot output directory after `make`:
#   genimage -c board/mylinux/genimage.cfg
#
# Output: output/images/myserveros.img
#

image myserveros.img {
    # MBR bootable disk
    mbr = "board/mylinux/mbr.img"

    # Syslinux boot partition (MBR + BIOS)
    partition bios {
        in-partition-table = "true"
        image = "syslinux.img"
        offset = 1M
        size = 8M
    }

    # Boot partition with kernel + syslinux
    partition vmlinuz {
        in-partition-table = "false"
        image = "vmlinuz"
        offset = 1M
        size = 32M
        bootable = "true"
    }

    # Root filesystem
    partition rootfs {
        in-partition-table = "false"
        image = "rootfs.img"
        offset = 1M
        size = 256M
    }
}

# Syslinux configuration
image syslinux.img {
    syslinux = "syslinux.cfg"
    mbr = "board/mylinux/mbr.img"
    partition = "syslinux.cfg"
    partition-type = 0x83
}

# Syslinux config: boot bzImage from the vmlinuz partition
image syslinux.cfg {
    linear {
        append = "console=tty0 console=ttyS0,115200"
    }
}
