#
# MyLinux x86_64 kernel config (generic x86 PC / BIOS)
#
# This is a minimal but bootable generic x86_64 config.
# Regenerate with: make linux-menuconfig -> save to this file.
#

#
# General setup
#
CONFIG_LOCALVERSION="-mylinux"
CONFIG_INITRAMFS_SOURCE=""
CONFIG_SELECT_MEMORY_MODEL=y
CONFIG_FLATMEM=y
CONFIG_FLAT_NODE_MEM_MAP=y
CONFIG_PHYSICAL_START=0x1000000
CONFIG_NR_PAGESIZE=4096

#
# Bus options (PCI etc)
#
CONFIG_PCI=y
CONFIG_PCIEASPM=y

#
# CPU power management
#
CONFIG_X86_PM_TIMER=y

#
# Networking support
#
CONFIG_NET=y
CONFIG_INET=y
CONFIG_TCP=y
CONFIG_IP_PNP=y
CONFIG_IP_PNP_DHCP=y

#
# Filesystems
#
CONFIG_EXT4_FS=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_VFAT_FS=y
CONFIG_FAT_DEFAULT_UTF8=y

#
# Device Drivers
#
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_PCI=y
CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_CONSOLE=y

#
# Console
#
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_VGA_CONSOLE=y
CONFIG_VGA_TEXT_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE=y

#
# Cryptographic API
#
CONFIG_CRYPTO=y
CONFIG_CRYPTO_SHA256=y
